**/lowcode/.*
**/ac-control-backups/*

**/homeassistant/*
!**/homeassistant/*.yaml

secrets/*
!secrets/.keep

node_modules
!.keep

*-backups/*
gerbers
*.zip
*.lck
fp-info-cache
_autosave-*
\#auto_saved_files#